name: Ruyam-Exclusive
on:
  push:
    branches: ["main"]
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
      - name: Hazirlik
        run: |
          rm -rf android web
          flutter create . --platforms android,web
      - run: flutter pub get
      - run: flutter build web --release
      - run: flutter build apk --debug
      - uses: actions/upload-artifact@v4
        with:
          name: web-dosyalari
          path: build/web/
      - uses: actions/upload-artifact@v4
        with:
          name: apk-dosyasi
          path: build/app/outputs/flutter-apk/app-debug.apk
