name: Flutter APK Build
on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Java Kurulumu
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'

      - name: Flutter Kurulumu
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - name: Paketleri Getir
        run: flutter pub get

      - name: APK Olustur
        # Bu komut Gradle hatalar覺n覺 temizleyip s覺f覺rdan derlemeyi zorlar
        run: |
          flutter clean
          flutter build apk --debug --suppress-analytics

      - name: APK Kaydet
        uses: actions/upload-artifact@v4
        with:
          name: uygulama-dosyasi
          path: build/app/outputs/flutter-apk/app-debug.apk
          
